<%= form_with(model: userdetail, local: true) do |form| %>
  <% if userdetail.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(userdetail.errors.count, "error") %> prohibited this userdetail from being saved:</h2>

      <ul>
      <% userdetail.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :location %>
    <%= form.text_field :location, id: :userdetail_location %>
  </div>

  <div class="field">
    <%= form.label :society_name %>
    <%= form.text_field :society_name, id: :userdetail_society_name %>
  </div>

  <div class="field">
    <%= form.label :moderator_name %>
    <%= form.text_field :moderator_name, id: :userdetail_moderator_name %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
