
Hi, Im <%= @current_user.email%>

<h1>List Of All Societys</h1>

<table class="table table-bordered" >
  <thead>
    <tr>
      <th>Location</th>
      <th>SocietyName</th>
      <th>ModeratorName</th>
      <th>ImagesOfSociety</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @userdetails.each do |userdetail| %>
      <tr>
        <td><%= userdetail.location %></td>
        <td><%= userdetail.society_name %></td>
        <td><%= userdetail.moderator_name %></td>
          <td><%= userdetail.images %></td>
        <td><%= link_to 'Show', userdetail %></td>

      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'Create Your Society', new_userdetail_path %>
<br>

<% if @userdetail.present? %>
  <%= render @userdetail %>


<% end %>

<%= form_tag(userdetails_path, method: :get, id: "search-form") do %>
  <%= text_field_tag :search, params[:search]  %>
  <%= text_field_tag :search2, params[:search2]  %>

  <%= submit_tag 'submit', name: nil %>
<% end %>
<br>

<% @userdetails.each do |userdetail| %>
   <h3><%= link_to userdetail.society_name, userdetail %></h3>
   <div><%= simple_format userdetail.society_name %></div>
  <p id="post_<%=userdetail.id %>_likes"><%= render partial: "likes", locals: {userdetail: userdetail} %></p>
   <hr />
 <% end %>
